server {
    listen 80;
    listen [::]:80;
    server_name {{ ([public_domain] + (public_domain_aliases | default([]))) | join(' ') }};

    location / {
        proxy_pass http://{{ app_bind_host }}:{{ app_port }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
